@import '~bootstrap/scss/bootstrap';
* {
  box-sizing: content-box;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  margin: 50px 600px;
  width: 500px;;
}

.beer {
  border: 1px solid black;
  margin: 50px 50px;
  width: 500px;
}
