@import '~bootstrap/scss/bootstrap';
// * {
//   box-sizing: content-box;
// }

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
}

i {
  color: red;
  // margin-left: 400px;
}

.search-bar {
  margin: 50px 600px;
  width: 400px;
}

.beer {
  border: 1px solid black;
  height: 100%;
  margin: 50px 50px;
  width: 100%;;
}

.image-and-text {
  display: flex;
}

.title-and-paragraph {
  display: flex;
  margin-left: 50px;
  }

  #title-buzz {
    margin-left: 120px;
  }

  .text {
    margin-left: 50px;
  }
