@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Public+Sans:300,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

nav {
  background-color: #00d1b1;
  color: white;
  display: flex;
  justify-content: flex-end;
}

#main-title {
  margin-right: 945px;
}

a {
  color: white;
  margin-right: 20px;
  margin-top: 10px;
}

.favourites {
  color: #aff0e6;
}

#bottom-section {
  margin-top: -70px;
}

i {
  color: #00d1b1;
  margin-top: 20px;
  margin-left: 315px;
}

.search-bar {
  margin-top: 40px;
  margin-left: 450px;
  margin-bottom: -30px;
}

input {
  height: 45px;
  width: 550px;
}

::placeholder {
  margin-left: -60px;
}

button {
  background-color: #3272dc;
  color: white;
  height: 45px;
  // margin-bottom: -40px;
  margin-left: -5px;
  width: 90px;
}

.beer {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px #eaeaea;
  height: 70%;
  margin: 50px 50px;
  width: 100%;;
}

.div-image-and-text {
  display: flex;
}

#img-buzz {
  margin-top: -50px;
  margin-left: 25px;
}

#img-trashy-blonde {
  margin-top: -50px;
  margin-left: 25px;
}

#img-berliner {
  margin-top: -75px;
  margin-left: 25px;
}

#img-pilsen {
  margin-top: -50px;
  margin-left: 25px;
}

#img-avery {
  margin-top: -50px;
  margin-left: 25px;
}

#img-electric-india {
  margin-top: -50px;
  margin-left: 25px;
}

.title-and-paragraph {
  display: flex;
  margin-left: 50px;
  }

  #title-buzz {
    font-weight: bold;
    margin-left: 120px;
  }

  #title-trashy-blond {
    font-weight: bold;
    margin-left: 120px;
  }

  #title-berliner {
    font-weight: bold;
    margin-left: 120px;
    margin-top: 10px;
  }

  #title-pilsen-lager {
    font-weight: bold;
    margin-left: 120px;
  }

  #title-avery-brown-dredge {
    font-weight: bold;
    margin-left: 120px;
  }

  #title-electric-india {
    font-weight: bold;
    margin-left: 120px;
  }

  #text-buzz {
    margin-left: 25px;
  }

  #text-trashy-blonde {
    margin-left: 25px;
  }

  #text-berliner {
    margin-left: 25px;
  }

  #text-pilsen-lager {
    margin-left: 25px;
  }

  #text-avery-brown-dredge {
    margin-left: 25px;
  }

  #text-electric-india {
    margin-left: 25px;
  }
